.sessionDetails {
  justify-content: center;
  padding: 10px;


  .certificate {
    max-width: 600px;
    text-align: center;

    h1 {
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .expiry-date, .session-info {
      margin-bottom: 10px;
    }
  }
}
