html,
body {
  max-height: 500px;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: #292d3e;
  color: #ffffff;
}

#root {
  width: 100%;
  height: 100%;
}

.input-group {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  gap: 1rem;

  align-items: center;
}
