.sessionDetails {
  justify-content: center;
  padding: 10px;

  .certificate {
    max-width: 600px;
    text-align: center;

    h1 {
      margin-bottom: 15px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .connectDescription {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 20px;
    }
    .expiry-date,
    .session-info {
      margin-bottom: 10px;
    }
  }

  .generateLabel {
    padding: 4px;
    border: 2px whitesmoke !important;
    border-radius: 5px;
    background-color: #1976d2;
    cursor: pointer;
  }

  .blurEffect {
    filter: blur(6px);
  }
  .blurEffectHover:hover {
    filter: blur(6px);
  }

  .spinnerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .resolve-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .resolve-input {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 60%;
    }

    .resolve-button {
      width: 100px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #1976d2;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .spinner-button {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid whitesmoke;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
  }

  .pointer {
    cursor: pointer;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
